@charset "utf-8";
/* CSS Document */

.header {
  background-color: #F4D03F;
  overflow: hidden;
  text-align: center;
  font-weight: 700
}


.header a {
  float: none;
  color: #1C2833;
  line-height: 40px;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 700
}


.header a:hover {
  background-color: #E67E22;
  color: black;
  font-weight: 700
}


.header a.active {
  background-color: #F39C12;
  color: white;
  font-weight: 700
}